/********************************** Color-Templates **********************************/
/*
Light Green: #C3DD94;
Dark Green:  #97CE68;
      Brown: #604118; on Headings & Paragraphs
        Red: #FF0000; on account info notes
  Light Red: #FF6C6C; Head Static Title & SALE & Total
LightYellow: #FFFAE0; Review Secion
 Background: #F6F6F6;
 Dark Black: #303030;
 Grey Black: #404040;
*/
/********************************** General **********************************/
.container-fluid {
  padding: 0% 3%;
}

.bottom-l {
  border-bottom-left-radius: 40px;
}

.bottom-r {
  border-bottom-right-radius: 40px;
}

.top-l {
  border-top-left-radius: 40px;
}

.top-r {
  border-top-right-radius: 40px;
}

.text-center {
  text-align: center;
}

.all-radius {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.light-green-bg {
  background-color: #c3dd94;
}

.have-border-right {
  border-right: solid 2px #604118;
}

.section-spaces {
  padding-top: 6%;
  padding-bottom: 2%;
}

.red-text {
  color: #ff6c6c;
}

.underline {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: 0px 4px 4px #0000004b;
}

.weight-200 {
  font-weight: 200;
}

.row {
  --bs-gutter-x: 0;
}

.O-dot {
  height: 55px;
  width: 55px;
  background-color: #ffffff62;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  margin-top: 12px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
/********************************** navbar **********************************/
.Offer {
  background-color: #ff6c6c;
  color: #ffffff;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

nav {
  box-shadow: 0 7px 10px rgba(7, 7, 7, 0.2);
}

nav .navbar-brand p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 0.8;
}

nav .navbar-brand .tail {
  font-size: 28px;
  margin: 0;
  opacity: 0.6;
}

nav .navbar-brand .head {
  font-size: 48px;
  margin: 10px 0 0;
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #604118;
  padding: 10px 10px;
  font-size: 1.6rem;
}

/********************************** switcher **********************************/
.Language {
  display: inline-flex;
  margin: 0 10px;
}

.Language p {
  font-size: 1.4rem;
  margin: 10px 4px;
  padding: 0;
}

/* Silder */
.switch {
  position: relative;
  display: inline-block;
  margin: 20px 10px 15px;
  width: 55px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 15%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 2px;
  bottom: -2px;
  background-color: rgb(31, 30, 30);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 25%;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Silder */

/********************************** the Introduction of the offer **********************************/
#intro {
  width: 100%;
}

/* intro-description */
#intro-description {
  padding: 30px;
}

#intro-description h1 {
  color: #604118;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 40px;
}

#intro-description p {
  font-size: 2.5rem;
  color: #60411885;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
  margin-bottom: 35px;
}

.btn-dark {
  color: #604118;
  background-color: #ffffff00;
  border: 2px solid #604118;
  border-radius: 0;
}

.btn-dark:hover {
  color: #fff;
  background-color: #604118;
  border-color: #604118;
}

/* intro image */
#intro-image img {
  width: 100%;
}

/********************************** the offer details section **********************************/
#Offer {
  font-family: "Montserrat", sans-serif;
  color: #604118;
  font-weight: 400;
  padding-bottom: 5%;
}

#Container-Offers {
  border: 1px solid #604118;
  margin: 6% 20% 10px;
  padding: 2% 5% 2% 3%;
}

#Sale {
  background-color: #ff6c6c;
  position: absolute;
  color: #fff;
  padding: 15px 20px 10px;
  text-align: center;
  right: 20%;
}

.dot-place {
  position: relative;
  width: 100%;
  left: 2px;
  top: 70%;
}

#Nail-care-Offer {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/nail.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  height: 330px;
}

#Eyebrow-Offer {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/eyebrow.svg");
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  height: 330px;
}

#Facemask-Offer {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/charcoal\ facemask.png");
  background-position: 10px 0;
  background-repeat: no-repeat;
  background-size: 90%;
}

.plus h1 {
  position: relative;
  margin: auto 10px;
  font-size: 70px;
  top: 40%;
}

.offer-div {
  margin-bottom: 30px;
}

#Container-Offers p {
  margin: 0;
  line-height: 1.3;
  font-size: 25px;
}

#Offer h2 {
  margin: 0;
  font-weight: 300;
  font-size: 48px;
}

#Offer .red-text {
  margin-top: 10px;
  font-size: 60px;
}

/********************************** product-details **********************************/
/* General */
#product-details {
  color: #604118;
}

.product-padding {
  padding: 5% 7%;
}

.left {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 10px;
}

.right {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10px;
}

.rigth-img {
  border-top-right-radius: 35%;
  border-bottom-left-radius: 35%;
  border-top-left-radius: 4%;
  border-bottom-right-radius: 4%;
  border: 3px solid #604118;
  width: 45%;
  padding-right: 10px;
  text-align: center;
}

.left-img {
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  width: 100%;
  border: 3px solid #604118;
  width: 45%;
  padding-right: 10px;
  text-align: center;
}

#product-details h2 {
  font-weight: bolder;
}

#product-details h4 {
  font-weight: bold;
}

#product-details .head-details {
  font-weight: 800;
}

/* General */
#top-img {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/nai_care image.jpg");
  background-size: cover;
}

#middle-img {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/eyebrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bottom-img {
  background-image: url("../Dr\ Raw\ Front\ End/images/Products\ images/face_mask image.jpg");
  background-size: cover;
}

/********************************** Review Section **********************************/
#Review {
  background-color: #fffae0;
  color: #604118;
  padding-bottom: 100px;
}

#Review h1 {
  font-weight: 600;
  font-size: 320%;
  margin: 4% 27% auto;
  line-height: 1.5;
}

#main-reviews div {
  padding: 0% 2%;
  margin-top: 10%;
  margin-bottom: 15%;
}

#Review .light-green-bg button {
  width: 135px;
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 45%;
}

#testimonials #carouselExampleIndicators .carousel-inner img {
  margin-bottom: 3%;
  width: 30%;
}

.carousel-control-prev-icon {
  background-image: url("../Dr\ Raw\ Front\ End/images/Arrows/left-arrow.png");
}

.carousel-control-next-icon {
  background-image: url("../Dr\ Raw\ Front\ End/images/Arrows/right-arrow.png");
}

.carousel-indicators button {
  height: 12px;
  width: 12px;
  background-color: #604118;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
}

/* quality images */
.Quailty {
  padding: 10px 9% 70px;
}

.Quailty .row img {
  width: 100%;
}

.Quailty-details {
  padding-left: 9%;
  padding-right: 9%;
}

/********************************** Best Selling Products **********************************/
#Best-Selling {
  color: #604118;
  text-align: center;
  padding-bottom: 4%;
  border-bottom: #604118 3px solid;
}

#Best-Selling h1 {
  font-weight: 600;
  font-size: 320%;
  margin: 6% 29% 4%;
}

.Products-container {
  padding: 0 10% 4%;
}

.Products {
  padding: 2%;
}

.Products img {
  border: #604118 5px solid;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 255, 0.2);
}
