/*
Light Green: #C3DD94;
Dark Green:  #97CE68;
      Brown: #604118; on Headings & Paragraphs
        Red: #FF0000; on account info notes
  Light Red: #FF6C6C; Head Static Title & SALE & Total
LightYellow: #FFFAE0; Review Secion
 Background: #F6F6F6;
 Dark Black: #303030;
 Grey Black: #404040;
*/